@import '../../variables.scss';

.tag {
  padding: 8px;
  border-radius: 9999px;

  .text {
    font-weight: 400;
    font-size: 14px;
    font-family: sans-serif;
    text-wrap: nowrap;
  }
}

@media (max-width: 580px) { 
  .tag {
    padding: 6px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
  
    .text {
      font-size: 12px;
    }
  }
}