@import '../../variables.scss';

.tag {
  padding: 4px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  border: 1px solid;
  width: fit-content;

  .text {
    font-weight: 500;
    font-size: 14px;
    font-family: sans-serif;
    text-wrap: nowrap;
    margin: 0 4px 0 4px;
  }
}

@media (max-width: 580px) { 
  .tag {
    border-radius: 8px;

  
    .text {
      font-size: 12px;
    }
  }
}