@import '../../variables.scss';

.pagination {
  height: -webkit-fill-available;
  background: $color-background-body;
  border: 2px solid #323232;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 16px;

  .page-option {
    color: $color-paragraph;
    background: $background-menu;
    border-radius: 8px;
    padding: 8px 12px;
    border: 1px solid #323232;
    font-weight: 600;
    font-size: 16px;

    &:hover {
      background-color: $background-accent;
      box-shadow: 0 0 0 2px #3b83f65f;
      color: #fff;
    }

    &:active {
      background-color: $background-accent-2;
    }
  }

  .current-page {
    color: $color-paragraph;
    background: $background;
    border-radius: 8px;
    padding: 8px 12px;
    border: 1px solid #323232;
    font-weight: 600;
    font-size: 16px;
  }

  .pages-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;

    .pages-of {
      color: $color-paragraph;
      height: fit-content;
      font-weight: 600;
      font-size: 16px;
    }
  }
}

@media (max-width: 580px) { 
  .pagination { 

  }
}
