@import '../../variables.scss';

.offers {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 32px;
  text-align: center;
  //margin: $space-32 $space-main-margin-desktop $space-32 $space-main-margin-desktop;
  scroll-margin: 102px;
  background-color: $background;
  border-radius: 10px;
  align-items: start;
  
  .loading-wrapper {
    display: flex;
    align-self: center;
    width: 64px;
    height: 64px;
  }

  .offers-list {
    display: flex;
    flex-flow: wrap;
    gap: 8px;
    justify-items: center;
  }

}

@media (max-width: 580px) {
  .offers {
    margin: $space-16 $space-main-margin-mobile $space-16 $space-main-margin-mobile;
    scroll-margin: 102px;
    padding: 16px;
    gap: 16px;

    .offers-list {

      
    }
  }
  
}
