@import '../../variables.scss';

form {
  width: max-content;
  //margin: 0 auto;
  text-align: center;
  //padding-top: 50px;

  display: flex;


}

.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 42px;
  text-align: center;
  vertical-align: middle;

  display: flex;
  justify-content: center;
  align-items: center;

  //padding: 11px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

    .button-text {
      margin: 0;
      font-weight: 600;
      text-align: center;
    }

    .button-loading {
      display: flex;
      justify-content: center;
      //align-items: center;
      width: 32px;
      height: 32px;
    }
  }



.value-button:hover {
  cursor: pointer;
}

form #decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

form #increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}

input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (max-width: 580px) { 
  .button { 
    width: 100%;
    font-size: 18px;
  }
}