@import '../../variables.scss';

.cart {
  //height: 100vh;
  text-align: center;
  width: -webkit-fill-available;
  position: relative;
  margin-top: $space-32;
  display: flex;
  flex-direction: column;
  background-color: $background-accent;
  margin: $space-32 $space-main-margin-desktop $space-32 $space-main-margin-desktop;
  padding: 32px;
  border-radius: 10px;
  align-items: start;
  gap: 32px;

  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    //height: 100vh;
  }

  .cart-container {
    width: -webkit-fill-available;
    //background-color: $background-accent;
    border-radius: 10px;
    display: flex;
    height: -webkit-fill-available;
    gap: 32px;


    .products-content {
      width: -webkit-fill-available;

      .products-container {
        //background-color: $background-accent;
        display: flex;
        flex-direction: column;
        gap: 16px;
        //padding: 16px;
        width: -webkit-fill-available;
        //overflow-y: scroll;
        // height: -webkit-fill-available;
      }
    }

    .summary-content {
      width: 512px;
    }
  }
}

@media (max-width: 580px) {
  .cart {
    margin-top: $space-main-margin-mobile;


    .container {
      margin: $space-16 $space-main-margin-mobile;

  
    }
  }
}
