@import '../../variables.scss';

.home {
  display: flex;
  flex-direction: column;
  //padding: 32px;
  gap: 32px;
  text-align: center;
  margin: $space-32 $space-main-margin-desktop $space-32 $space-main-margin-desktop;
  scroll-margin: 102px;
  //background-color: $background-accent;
  border-radius: 10px;



}

@media (max-width: 580px) {
  .home {
    margin: $space-16 $space-main-margin-mobile $space-16 $space-main-margin-mobile;
    scroll-margin: 102px;

    gap: 16px;


  }
  
}
