@import '../../variables.scss';

.product {
  --main-color: #323232;
  --main-focus: #2d8cf0;
  width: 256px;
  height: 520px;
  flex-flow: row;
  gap: 16px;
  justify-content: flex-start;
  gap: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


  .product-image-container {
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    background: white;
    border-radius: 2px;

    .product-image {
      float: left;
      width:  180px;
      height: 180px;
      object-fit: contain; // cover
    }
  }

  .card-title {
    .product-title {
      font-size: 20px;
      font-weight: 500;
      text-align: left;
      color: $color-title-h2;
      margin: 0;
  
      // for ellipsis
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .card-description {
    height: -webkit-fill-available;

    .product-description {
      font-size: 14px;
      font-weight: 400;
      text-align: left;
      color: $color-paragraph;
  
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 10;
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  .card-divider {
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 50px;
  }
  
  .card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .footer-description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;

      .card-price {
        font-size: 20px;
        font-weight: 600;
        color: $color-paragraph;

        span {
          font-size: 20px;
          font-weight: 500;
          color: $color-title-h2;
        }
      }

      .shipping {
        font-size: 14px;
        font-weight: 400;
        color: $color-paragraph;
        display: flex;
        align-items: center;
        gap: 8px;
        line-height: 14px;
      }
    }
        
    .button-container {
      width: 64px;
      display: flex;
      justify-content: center;
      align-items: center;

      .loading-wrapper {
        width: 24px;
        height: 24px;
        display: flex;
      }

      .cart-link {
        .cart-svg {
            width: 32px;
            filter: invert(97%) sepia(6%) saturate(185%) hue-rotate(138deg) brightness(97%) contrast(96%);
            -webkit-transition: all 200ms ease-in;
            -webkit-transform: scale(1); 
            -ms-transition: all 200ms ease-in;
            -ms-transform: scale(1); 
            -moz-transition: all 200ms ease-in;
            -moz-transform: scale(1);
            transition: all 200ms ease-in;
            transform: scale(1);

            &:hover {
                // box-shadow: 0px 0px 10px #000000;
                z-index: 2;
                -webkit-transition: all 200ms ease-in;
                -webkit-transform: scale(1.3);
                -ms-transition: all 200ms ease-in;
                -ms-transform: scale(1.3);   
                -moz-transition: all 200ms ease-in;
                -moz-transform: scale(1.3);
                transition: all 200ms ease-in;
                transform: scale(1.3);
            }
        }
    }
    }
  }  
  
  .card-img:hover {
    transform: translateY(-3px);
  }
  
  .card-btn:hover {
    border: 2px solid var(--main-focus);
  }
  
  .card-btn:hover svg {
    fill: var(--main-focus);
  }
  
  .card-btn:active {
    transform: translateY(3px);
  }
}

@media (max-width: 580px) {
  .product {

  }
}