@import '../../variables.scss';

.loader {
  z-index: 99;
  width: inherit;
  height: inherit;
  border: 3px solid white;
  border-radius: 50%;

  animation: spin 7s ease-in-out;
  animation-iteration-count: infinite;
  transition-duration: 0.1s;
  //position: absolute;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-bottom: solid 3px transparent;
    border-top: solid 3px transparent;
  }
  50% {
    transform: rotate(1800deg);
    border: 3px solid white;
    border-left: solid 3px transparent;
    border-right: solid 3px transparent;
  }
  100% {
    /*Reversed spinning*/
    transform: rotate(0deg);
    border-bottom: solid 3px transparent;
    border-top: solid 3px transparent;
  }
}

@media (max-width: 580px) { 
  .loader { 

  }
}