@import '../../variables.scss';

.favorites {
  //height: 100vh;
  text-align: center;
  width: -webkit-fill-available;
  position: relative;
  margin-top: $space-32;
  display: flex;
  flex-direction: column;
  background-color: $background;
  margin: $space-32 $space-main-margin-desktop $space-32 $space-main-margin-desktop;
  padding: 32px;
  border-radius: 10px;
  align-items: center;
  gap: 32px;
  align-items: start;
  
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    //height: 100vh;
  }

  .account-empty-wrapper {
    background-color: $background-menu;
    display: flex;
    //flex-direction: column;
    text-align: left;
    padding: 32px;
    border-radius: 10px;
    gap: 32px;

    .svg-description {
      .account-svg {
        width: 64px;
      }
    }

    .empty-description {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .paragraph {
        font-size: 14px;
        color: $color-paragraph;
  
        a {
          color: $color-paragraph;
        }
      }
    }
  }
  

  .favorites-container {
    width: -webkit-fill-available;
    //background-color: $background-accent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    //margin: $space-32;
    height: -webkit-fill-available;
    gap: 32px;

    .products-container {
      //background-color: $background-accent;
      display: flex;
      flex-direction: column;
      gap: 16px;
      //padding: 16px;
      width: -webkit-fill-available;
      //overflow-y: scroll;
      // height: -webkit-fill-available;
    }

    .button-container {
      display: flex;
      flex-direction: row;
      width: 45%;
      gap: 16px;
    
    }


  }


}

@media (max-width: 580px) {
  .login {
    margin-top: $space-main-margin-mobile;


    .container {
      margin: $space-16 $space-main-margin-mobile;

  
    }
  }
}
