@import '../../variables.scss';

.search-loading {
  align-items: center;
  height: 84vh;
  width: 100wh;
  display: flex;
  justify-content: center;

  .search-wrapper {
    width: 64px;
    height: 64px;
  }
}

.search {
  text-align: center;
  width: -webkit-fill-available;
  position: relative;
  margin-top: $space-32;
  display: flex;
  flex-direction: column;
  background-color: $background-accent;
  margin: $space-32 $space-main-margin-desktop $space-32 $space-main-margin-desktop;
  padding: 32px;
  border-radius: 10px;
  align-items: start;
  gap: 32px;

  .search-container {
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;

    .search-list {
      //background-color: $background-accent;
      border-radius: 10px;
      display: flex;
      //justify-content: center;
      flex-flow: row;
      flex-wrap: wrap;
      //margin: $space-32 $space-main-margin-desktop;
      height: -webkit-fill-available;
      width: -webkit-fill-available;
      gap: 16px;
  
      .empty-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: -webkit-fill-available;
        margin: 32px;
  
        .shop {
          width: 256px;
          filter: invert(97%) sepia(6%) saturate(185%) hue-rotate(138deg) brightness(97%) contrast(96%);
        }
    
        .text {
          font-size: 24px;
          font-weight: 400;
          color: $color-title-h2;
        }
      }
    }
  
    .filters-container {
      width: 35%;
    }
  }


}

@media (max-width: 580px) {
  .search {
    margin-top: $space-main-margin-mobile;

    .container {
      margin: $space-16 $space-main-margin-mobile;

      .content {
        display: grid;
        grid-gap: $space-16;
        margin: $space-16;
  

      }

    }
  }
}
