@import '../../variables.scss';

.account {
  text-align: center;
  width: -webkit-fill-available;
  position: relative;
  margin-top: $space-32;
  display: flex;
  flex-direction: column;
  background-color: $background;
  margin: $space-32 $space-main-margin-desktop $space-32 $space-main-margin-desktop;
  padding: 32px;
  border-radius: 10px;
  align-items: start;
  gap: 32px;

  .account-empty-wrapper {
    background-color: $background-menu;
    display: flex;
    width: -webkit-fill-available;
    //flex-direction: column;
    text-align: left;
    padding: 32px;
    border-radius: 10px;
    gap: 32px;

    .svg-description {
      .account-svg {
        width: 64px;
      }
    }

    .empty-description {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .paragraph {
        font-size: 14px;
        color: $color-paragraph;
  
        a {
          color: $color-paragraph;
        }
      }
    }
  }
  
  .subtitle {
    font-size: 20px;
    font-weight: 800;
    color: $color-paragraph;
    margin: 0 0 8px 0;
  }

  .account-wrapper {
    background-color: $background-menu;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    padding: 32px;
    gap: 32px;

    .account-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .personal-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .account-cards {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .cards-wrapper {
        gap: 16px;
        display: flex;
        flex-direction: column;

        .loading-wrapper {
          display: flex;
          width: 32px;
          height: 32px;
        }

        .card {
          display: flex;
          flex-direction: column;
          text-align: left;
          background-color: $background-accent;
          padding: 16px;
          border-radius: 8px;

          .card-content {
            display: flex;
            align-items: center;
            gap: 16px;

            .card-image-wrapper {
              .card-image {
                width: 32px;
                height: 32px;
              }
            }

            .card-info {
              display: flex;
              flex-direction: column;
              width: -webkit-fill-available;

              .main-paragraph {
                font-size: 14px;
                font-weight: 600;
                color: $color-paragraph;
              }

              .paragraph {
                font-size: 14px;
                color: $color-paragraph;
              }
            }

            .button-wrapper {
              width: fit-content;

              button {
                width: 80px;
                height: 36px;
              }
            }
          }
        }
      }
    }

    .key-value-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;

      .paragraph-key {
        font-size: 16px;
        font-weight: 600;
        color: $color-paragraph;
        margin: 0;
        width: 105px;
        text-align: end;
      }
  
      .paragraph {
        font-size: 14px;
        color: $color-paragraph;
      }
    }
  }
}

@media (max-width: 580px) {
  .account {
    margin-top: $space-main-margin-mobile;

    .container {
      margin: $space-16 $space-main-margin-mobile;

      .content {
        display: grid;
        grid-gap: $space-16;
        margin: $space-16;
  

      }

 
    }
  }
}
