@import '../../variables.scss';

.purchases {
  text-align: center;
  width: -webkit-fill-available;
  position: relative;
  margin-top: $space-32;
  display: flex;
  flex-direction: column;
  background-color: $background;
  margin: $space-32 $space-main-margin-desktop $space-32 $space-main-margin-desktop;
  padding: 32px;
  border-radius: 10px;
  align-items: start;
  gap: 32px;

  .loading-wrapper {
    display: flex;
    justify-content: center;
    width: 64px;
    height: 64px;
    align-self: center;
  }

  .paragraph {
    color: $color-paragraph;
    font-size: 16px;
    margin: 0;
  }

  .color-green {
    color: $color-green;
  }

  .strong-weight {
    font-weight: 800;
  }

  .purchase-divider {
    width: 100%;
    border: 1px solid #323232;
    border-radius: 50px;
    margin: 0;
  }
  
  .purchases-list {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    gap: 16px;

    .purchase-item {
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      padding: 16px;
      background-color: $background-menu;
      gap: 16px;

      .purchase-date {
        display: flex;
        justify-content: right;
      }

      .purchase-products-list {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        //gap: 16px;

        .product {
          display: flex;
          flex-direction: row;
          padding: 0 0 16px 0;
          //background-color: $background-accent;
          height: auto;
          width: -webkit-fill-available;
          border-radius: 10px;

          .product-img {
            width: 64px;
            height: 64px;
            background-color: white;
            float: left;
            object-fit: contain;
            display: flex;
            align-self: center;
          }

          .product-items {
            display: flex;
            flex-direction: column;
            width: -webkit-fill-available;

            .product-item {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              width: -webkit-fill-available;
            }
          }
        }
      }

      .purchase-total-wrapper {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .purchases-empty-state {
    background-color: $background-menu;
    display: flex;
    width: -webkit-fill-available;
    //flex-direction: column;
    text-align: left;
    padding: 32px;
    border-radius: 10px;
    gap: 32px;

    .svg-description {
      .account-svg {
        width: 64px;
      }
    }

    .empty-description {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .paragraph {
        font-size: 14px;
        color: $color-paragraph;
  
        a {
          color: $color-paragraph;
        }
      }
    }
  }
}

@media (max-width: 580px) {
  .purchases {
    margin-top: $space-main-margin-mobile;

    .container {
      margin: $space-16 $space-main-margin-mobile;

      .content {
        display: grid;
        grid-gap: $space-16;
        margin: $space-16;
  

      }

 
    }
  }
}
