@import '../../variables.scss';

.purchases {
  text-align: center;
  width: -webkit-fill-available;
  position: relative;
  margin-top: $space-32;
  display: flex;
  flex-direction: column;
  background-color: $background;
  margin: $space-32 $space-main-margin-desktop $space-32 $space-main-margin-desktop;
  padding: 32px;
  border-radius: 10px;
  align-items: start;
  gap: 32px;
  
  .purchases-list {
    background-color: $background-accent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: $space-32 $space-main-margin-desktop;
    height: -webkit-fill-available;

    .content {
      display: flex;
      justify-content: center;

      margin: $space-32;
  
    }
  

  }

  .purchases-empty-state {
    background-color: $background-menu;
    display: flex;
    width: -webkit-fill-available;
    //flex-direction: column;
    text-align: left;
    padding: 32px;
    border-radius: 10px;
    gap: 32px;

    .svg-description {
      .account-svg {
        width: 64px;
      }
    }

    .empty-description {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .paragraph {
        font-size: 14px;
        color: $color-paragraph;
  
        a {
          color: $color-paragraph;
        }
      }
    }
  }
}

@media (max-width: 580px) {
  .purchases {
    margin-top: $space-main-margin-mobile;

    .container {
      margin: $space-16 $space-main-margin-mobile;

      .content {
        display: grid;
        grid-gap: $space-16;
        margin: $space-16;
  

      }

 
    }
  }
}
