@import './variables.scss';

body {
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  user-select: none;
  overflow-x: hidden; 
  position: relative; 
  background-color: $color-background;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 580px) {
  body {
    overflow-x: hidden;
  }
}
