// palette


$color: #17bebb;
$color-title-h2: #EDB88B;
$color-paragraph: #FAD8D6;

$color-background: #2E282A;
$color-orange: #CD5334;


$background: #13293D;
$background-bright: #0f4374;
$primary: #1b98e0;
$primary-bright: #77cafa;
$secondary: #247BA0;
$subtitle: #006494;
$paragraph: #E8F1F2;
$accent: #E8F1F2;

$background-black: rgba(0, 0, 0, 0.3);
$background-accent: rgba(119, 202, 250, 0.1);

// spacing
$space-main-margin-desktop: 256px;
$space-main-margin-mobile: 16px;
$space-mobile-margin: 16px;
$space-desktop-margin: 32px;
$space-32: 32px;
$space-16: 16px;
$space-8: 8px;

// Font
$font-size-main-title-desktop: 3.75rem;
$font-size-main-title-mobile: 1.75rem;

$font-size-title-desktop: 42px;
$font-size-title-mobile: 32px;

$font-size-subtitle-desktop: 20px;
$font-size-subtitle-mobile: 16px;

$font-size-paragraph-desktop: 18px;
$font-size-paragraph-mobile: 14px;

// Colors
$white: #E8F1F2;
$violet: #AF40FF;
$color-light: #ffe6ff; 
$color-medium: #ff65bd;
$color-dark: #ff2483;
$color-ultra-dark: #6b1839;

// shadows
$text-shadow-black: 2px 2px 1px black;