@import '../../variables.scss';

.footer {
  //height: 45vh;
  text-align: center;
  width: -webkit-fill-available;
  position: relative;
  margin-top: $space-32;
  display: flex;
  flex-direction: column;


  .container {
    background-color: $background-accent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: $space-32 $space-main-margin-desktop;
    height: -webkit-fill-available;

    .content {
      display: flex;
      justify-content: center;

      margin: $space-32;
  
      .colum-content {
        border-radius: 10px;
    
        .subtitle {
          color: $primary;
          font-size: $font-size-subtitle-desktop;
          font-weight: 400;
          margin: 0 0 16px 0;
          text-align: center;
        }
  
        .paragraph {
          color: $paragraph;
          font-size: $font-size-paragraph-desktop;
          font-family: sans-serif;
          margin: 0 0 4px 0;
          text-align: center;
        }
      }    
    }
  
    .footer-content {
      margin: $space-32;

      .paragraph {
        color: $paragraph;
        font-size: $font-size-paragraph-desktop;
        margin: 0;
      }
    }
  }
}

@media (max-width: 580px) {
  .footer {
    margin-top: $space-main-margin-mobile;

    .header {
      height: 90px;
    }

    .container {
      margin: $space-16 $space-main-margin-mobile;

      .content {
        display: grid;
        grid-gap: $space-16;
        margin: $space-16;
  
        .colum-content {
          .subtitle {
            font-size: $font-size-subtitle-mobile;
          }
    
          .paragraph {
            font-size: $font-size-paragraph-mobile;
          }
        }
      }

      .footer-content {
        margin: $font-size-paragraph-mobile;
      }
    }
  }
}
